src/main/resources/crind.xsd

<s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org" elementFormDefault="qualified"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          targetNamespace="http://tempuri.org" xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ ">
    <s:element name="AddInteger">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" name="Arg1" type="s:string"/>
                <s:element minOccurs="0" name="Arg2" type="s:string"/>
            </s:sequence>
        </s:complexType>
    </s:element>

    <s:element name="AddIntegerResponse">
        <s:complexType>
            <s:sequence>
                <s:element name="AddIntegerResult" type="s:string"/>
            </s:sequence>
        </s:complexType>
    </s:element>

    <s:element name="DivideInteger">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" name="Arg1" type="s:string"/>
                <s:element minOccurs="0" name="Arg2" type="s:string"/>
            </s:sequence>
        </s:complexType>
    </s:element>

    <s:element name="DivideIntegerResponse">
        <s:complexType>
            <s:sequence>
                <s:element name="DivideIntegerResult" type="s:string"/>
            </s:sequence>
        </s:complexType>
    </s:element>

    <s:element name="FindPerson">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" name="id" type="s:string"/>
            </s:sequence>
        </s:complexType>
    </s:element>


    <s:element name="FindPersonResponse">
        <s:complexType>
            <s:sequence>
                <s:element name="FindPersonResult" type="s0:Person"/>
            </s:sequence>
        </s:complexType>
    </s:element>


    <s:complexType name="Person" xmlns:s0="http://tempuri.org">
        <s:sequence>
            <s:element name="Name" type="s:string"/>
            <s:element name="SSN" type="s:string"/>
            <s:element minOccurs="0" name="DOB" type="s:date"/>
            <s:element minOccurs="0" name="Home" type="s0:Address"/>
            <s:element minOccurs="0" name="Office" type="s0:Address"/>
            <s:element minOccurs="0" name="Spouse" type="s0:Person"/>
            <s:element minOccurs="0" name="FavoriteColors" type="s0:ArrayOfFavoriteColorsItemString"/>
            <s:element minOccurs="0" name="Age" type="s:long"/>
        </s:sequence>
    </s:complexType>

    <s:complexType name="Address">
        <s:sequence>
            <s:element minOccurs="0" name="Street">
                <s:simpleType>
                    <s:restriction base="s:string">
                        <s:maxLength value="80"/>
                    </s:restriction>
                </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="City">
                <s:simpleType>
                    <s:restriction base="s:string">
                        <s:maxLength value="80"/>
                    </s:restriction>
                </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="State">
                <s:simpleType>
                    <s:restriction base="s:string">
                        <s:maxLength value="2"/>
                    </s:restriction>
                </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Zip">
                <s:simpleType>
                    <s:restriction base="s:string">
                        <s:maxLength value="5"/>
                    </s:restriction>
                </s:simpleType>
            </s:element>
        </s:sequence>
    </s:complexType>

    <s:complexType name="ArrayOfFavoriteColorsItemString">
        <s:sequence>
            <s:element maxOccurs="unbounded" minOccurs="0" name="FavoriteColorsItem" nillable="true" type="s:string"/>
        </s:sequence>
    </s:complexType>

</s:schema>

